@tailwind base
@tailwind components
@tailwind utilities

*
    scroll-behavior: smooth
    scroll-margin-top: 6rem
    

a[href="https://firecms.co?utm_source=drawer"]
    display: none

@font-face 
    font-family: "glober"
    src: url("/glober/Fontfabric - GloberRegular.otf") format("opentype")
    
@font-face 
    font-family: "glober heavy"
    src: url("/glober/Fontfabric - GloberHeavy.otf") format("opentype")
@font-face 
    font-family: "glober thin"
    src: url("/glober/Fontfabric - GloberThin.otf") format("opentype")
@font-face 
    font-family: "glober light"
    src: url("/glober/Fontfabric - GloberLight.otf") format("opentype")
@font-face 
    font-family: "glober black"
    src: url("/glober/Fontfabric - GloberBlack.otf") format("opentype")
@font-face 
    font-family: "bau"
    src: url("/Bau-Regular Regular.ttf") format("truetype")

.wrapper
    width: 55ch

section
    min-height: 60vh
article
    width: calc(100% - 2rem) !important
    font-family: "glober"
    margin-bottom: 7rem
    color: #1d1d1d
    margin-bottom: 3rem
    h2
        font-size: 3rem
        margin-bottom: 1rem
        font-family: "glober light"
        color: #2d2d2d
nav
    font-family: "glober thin"
#website-nav
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2)

#slot
    &> article
        max-width: 1200px !important
        display: flex
        flex-wrap: wrap
        margin-inline: auto
        padding-top: 2rem
        flex-direction: column

#pagina-institucional
    width: 60ch
    font-family: "glober light"
    gap: 4rem
    padding-top: 4rem !important
    padding-bottom: 10rem !important
    &>article
        margin-bottom: 4rem
        hyphens: auto
        margin-inline: auto
        gap: 2rem
        display: flex
        flex-direction: column
        width: 80vw !important
        max-width: 1200px

        h2
            margin-inline: auto
            width: 100%
        p
            margin-bottom: 1rem
            margin-inline: auto
        div
            gap: 1rem
            p
                line-height: 1.7rem
                font-size: 1.3rem
#landing
    width: 100%
    max-height: 100vh
    display: grid
    grid-auto-columns: 1fr
    grid-auto-rows: 1fr
    grid-template-columns: 60%  472px
    grid-template-rows: 50px 1.3fr 1fr 0.7fr
    gap: 1rem
    grid-template-areas:  "h1 h1" "destaque fme" "destaque galeria" "banners banners"
    @media (max-width: 600px) 
        grid-template-columns: 90vw
        margin-inline: auto
        justify-content: center
        grid-template-rows: 1fr
        grid-template-areas:    "h1    " "destaque" "galeria " "fme   "
        padding-inline: 4vw
        &>.destaque
            min-height: 50vh

    
    justify-content: space-between
    & > *
        height: 100%
        width: 100%
        object-fit: contain
        object-position: center
    #title
        grid-area: h1
        font-family: "glober light"
        font-size: 2rem
        &::before
          border-bottom: 2px solid #121063  
    .destaque 
        grid-area: destaque
        &:hover
            transform: scale(1.01)
        .destaque-body
    .fme 
        grid-area: fme
        border: 2px solid #245b8a
        outline: #9EB4C8 solid 2px
    .galeria 
        h2
            color: white
            text-align: center
            padding: 1rem
            font-size: 2rem
        border: 2px solid #0c350c
        outline: #4CAF50 solid 2px
        grid-area: galeria
        background-color: #0e720f
    .banners 
        grid-area: banners
// login forms
.login-form-alt
    cursor: pointer
    color: #0e720f
    &:hover
        color: #1bdc1b

nav
    @media (max-width: 500px) 
        justify-content: flex-end

        &> div> a
            top: 0.5rem
    #instDropMenu
        // transform: translate(353px, 56px) !important

    
.nav-list
    & > li:nth-child(1)
        margin-left: -0.5rem

#sharing
    fill: aquamarine
.lead
    hyphens: auto
    font-family: "glober light"
    width: 60vw
    max-width: 100%
    margin-inline: auto
    font-size: 1.3rem !important
    line-height: 2rem
    word-spacing: 3px
    margin-bottom: 7rem
    
.common-post
    font-size: 1.2rem
    font-family: "glober thin"
    max-width: 80ch
    margin-inline: auto
    margin-top: 5vh
    gap: 3rem
    display: flex
    flex-direction: column
    img
        margin-bottom: 3rem
        margin-inline: auto
        height: 100%
        background-size: contain
    h1
        hyphens: auto
        margin-inline: auto
        margin-top: 1rem
        margin-bottom: 1rem
        max-width: 60ch
        font-family: "glober"
        font-weight: 300
        color: #2d2d2d
        font-size: 3rem
        line-height: 4rem

@media print 
    *
        display: none
    .carteirinha
        display: block

.texto-afiliar
    h3
        font-size: 1.5rem
    h2
        font-size: 2rem

.carteirinha
    display: grid
    gap: 0.4rem
    padding: 1rem
    height: 255px
    width: 406px
    font-size: 70%
    small
        font-size: 70%
        position: absolute
        margin-top: -0.6rem
    &> *
        background-color: white
        border-radius: 3px
        color: black
        padding-left: 0.4rem
    &> div
        padding-top: 0.8rem


.frente
    // grid-template-areas: 
    grid-auto-columns: 1fr
    grid-template-columns: 1.3fr 0.7fr 0.8fr 1.2fr
    grid-template-rows: 1fr 1.3fr 0.9fr 0.9fr 1fr 0.9fr
    grid-template-areas: "logo logo logo foto" "logo logo logo foto" "nome nome nome foto" "cargo cargo cargo insc" "cpf cpf rg rg" "nascimento matricula matricula emissao"
    .logo 
        grid-area: logo
        background-color: transparent
        height: 100%
    .nome 
        grid-area: nome
    .foto 
        grid-area: foto
        object-fit: cover
        width: 100%
        height: 100%
        object-position: center
    .cargo 
        grid-area: cargo
    .insc 
        grid-area: insc
    .cpf 
        grid-area: cpf
    .rg 
        grid-area: rg
    .matricula 
        grid-area: matricula
    .nascimento 
        grid-area: nascimento
    .emissao 
        grid-area: emissao
.atras
    gap: 0px
    display: flex
    flex-direction: row
    flex-wrap: wrap
    & > *
        border-radius: 0px
        flex-basis: 100%
    & > *:nth-child(1)
        border-top-right-radius: 3px
        border-top-left-radius: 3px
    & > *:last-child
        border-bottom-right-radius: 3px
        border-bottom-left-radius: 3px
    .naturalidade
        flex-basis: 70%
    .uf
        flex-basis: 30%
    .assinatura-wrapper
        height: 2rem
        display: flex
        align-items: end
        margin-top: 1rem
        border-radius: 3px
        &> div
            height: 100%
            width: 97%
            padding-top: 0.4rem
            text-align: center
            &>div
                height: 1px
                background-color: black
                margin-bottom: -4px
            &>small
                position: relative
                margin-top: 0px

.posts
    gap: 3rem
    justify-content: center
    margin-inline: auto

#noticias
    h2
        font-size: 14pt
        font-family: "glober"
        font-weight: 100
    &>h2
        font-size: 2rem
        font-family: "glober light"
        color: #2d2d2d

.gallery-item 
    opacity: 0
    transition: opacity 250ms

.gallery-item[data-carousel-item="active"]
    opacity: 1
    transition: opacity 250ms


.post-card
    height: 400px
    width: 60%
    object-fit: contain
    object-position: center
    margin-inline: auto

#login_layout
    gap: 2rem

#afiliados
    .posts
        display: flex
        gap: 3rem
        flex-direction: column

footer
    background-color: #0e720f
    width: 100%
    gap: 2rem
    padding: 2rem
    padding-top: 3rem
    color: white
    margin-top: 4rem
    .leaflet-container
        width: 450px
        max-width: 90vw
        height: 200px
        margin-inline: auto
    .row
        display: grid
        height: 135px
        position: relative
        grid-template-columns: auto 18%

.css-b1dpm3
    position: absolute !important